<!-- about_us.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        /* Additional Styles */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            padding: 20px;
        }

        h2 {
            color: #333;
        }

        p {
            color: #666;
            font-size: 18px;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>About Us</h2>
    <p>Hello world, my name is Ismail and this is my friend Kim Derrick. This is our first project with Flask. We've created this website to provide a convenient platform for reserving seats for international transport. Whether you're planning a business trip or a vacation, our website allows you to easily book your seat in advance, ensuring a hassle-free travel experience. Thank you for choosing our service!</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

